#MainContainer{
  z-index: 999999999;
}


.Home{
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.home-page {

  


  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #001019;
    font-size: 540%;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    

    &:before {
      content: '<h1>';
      font-family: 'Coolvetica', cursive;
      color: #001019;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'Coolvetica', cursive;
      color: #010101;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      
    }
  }

  h2 {
    color: #001019;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
}
@media screen and (max-width: 768px) {

 
  


    .text-zone {
      position: absolute;
      transform: translateY(-50%);
      width: 50%;
      max-height: 90%;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      padding-top: 70vh;
    }
  
    h1 {
      color: #001019;
      font-size: 540%;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      width: 610%;
      margin-top: -40px;
      left: -15px;
      margin-top: 100vh;
  
      &:before {
        content: '<h1>';
        font-family: 'Coolvetica', cursive;
        color: #001019;
        font-size: 18px;
        position: absolute;
    
        opacity: 0.6;
      }
  
      &:after {
        content: '<h1/>';
        font-family: 'Coolvetica', cursive;
        color: #010101;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
        
      }
    }
  
    h2 {
      color: #001019;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  }
  @media screen and (max-width: 415px) {
    .text-zone {
      position: absolute;
      transform: translateY(-50%);
      width: 50%;
      max-height: 90%;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      padding-top: 59%;
      padding-left: 20%;
    }



    h1 {
      color: #001019;
      font-size: 540%;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      width: 610%;
      margin-top: -40px;
      left: -15px;
      margin-top: 100vh;
  
      &:before {
        content: '<h1>';
        font-family: 'Coolvetica', cursive;
        color: #001019;
        font-size: 18px;
        position: absolute;
    
        opacity: 0.6;
      }
  
      &:after {
        content: '<h1/>';
        font-family: 'Coolvetica', cursive;
        color: #010101;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }}
    
  }
